.App {
  text-align: center;
}

.inputField, input[type=search] {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  display: block;
  font-size: 16px;
  padding-left: 10%;
  padding-right: 10%;
  font-style: italic;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.App-header {
  color: white;
  padding: 20px;
  background-color: #071C24;
}

.App-logo {
  height: 50px;
  animation: App-logo-spin infinite 20s linear;
}

.autocompleteContainer {
  width: 50%;
  height: 300px;
  overflow: scroll;
  text-align: center;
  display: inline-block;
  background-color: #fff;
}

.latestMovies {
  margin-top: 100px;
}

.item {
  padding: 20px;
  text-align: center;
}

.thumbFloat {
  float: left;
  margin-right: 10px;
}

.thumbSearch {
  height: 60px;
}

.itemTitleSearch {
  margin: 0px;
  padding-top: 8px;
  font-weight: bold;
}

.itemReleaseSearch {
  margin: 0px;
  color: #bababa;
  padding-top: 5px;
  font-weight: lighter;
}

.thumb {
  height: 70px;
}

.movieDataFloat {
  text-align: left;
  overflow: hidden;
}

.itemTitle {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

.itemRelease {
  color: #bababa;
  font-weight: lighter;
}

.itemOverview {
  color: #666666;
  font-weight: lighter;
}

.onTv {
  width: 70%;
}

.noResults {
  margin-top: 120px;
  font-style: italic;
}

@keyframes App-logo-spin {
 from { transform: rotate(0deg); }
 to { transform: rotate(360deg); }
}
